USE [master]
GO
/****** Object:  Database [medic]    Script Date: 3/10/2025 23:23:59 ******/
CREATE DATABASE [medic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'medic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\medic.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'medic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\medic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [medic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [medic]
GO
/****** Object:  Table [dbo].[Vademecum_20251001_091834#xlsx$]    Script Date: 3/10/2025 23:23:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vademecum_20251001_091834#xlsx$](
	[ALFABETA] [float] NULL,
	[PRINCIPIO ACTIVO] [nvarchar](255) NULL,
	[MARCA COMERCIAL] [nvarchar](255) NULL,
	[PRESENTACION] [nvarchar](255) NULL,
	[LABORATORIO] [nvarchar](255) NULL,
	[PVP PAMI AL 01/10/2025] [nvarchar](255) NULL,
	[COBERTURA] [nvarchar](255) NULL,
	[IMPORTE AFILIADO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
